<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>gree</title>
<meta name="description" content="">
<meta name="keywords" content="">
{% load staticfiles %}
<link href="{% static "css/index.css" %}" rel="stylesheet">
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script src="{% static "js/index.js" %}"></script>
</head>
<body>
    <div id="top">
    	<div id="title">
    		<img id="logo" src="{% static "img/index/gree_logo.png" %}">
    		<span>东莞市忠胜格力产品销售中心</span>
    	</div>
    	<div class="clear"></div>
    </div>
    <a id="qq" href="http://wpa.qq.com/msgrd?v=3&uin=396004075&Site=%E4%B8%9C%E8%8E%9E%E5%B8%82%E5%BF%A0%E8%83%9C%E6%A0%BC%E5%8A%9B%E4%BA%A7%E5%93%81%E9%94%80%E5%94%AE%E5%85%AC%E5%8F%B8&Menu=yes">
        <img src="{% static "img/index/bubble.png" %}">
        <span>在线咨询</span>
    </a>
    <div id="nav">
    	<ul id="first_ul">
    		<a href="/"><li>首页</li></a>
    		<a href="/product"><li>产品中心</li></a>
    		<a href="/news"><li>新闻中心</li></a>
     		<a href="/shop"><li>店面展示</li></a>
    		<a href="/case"><li>工程案例</li></a>
    		<a href="/job"><li>人才招聘</li></a>
    		<a href="/culture"><li>企业文化</li></a>
    		<a href="/contact"><li>联系我们</li></a>
    		<p class="clear"></p>
    	</ul>
    </div>
    <div id="bgpic">
    	<img src="{% static "img/index/bgpic4.jpg" %}">
    </div>
    <div id="title2">
    	<p id="img_title"><b>G R E E</b></p>
    	<p id="phrase">核 心 科 技 &nbsp;&nbsp;世 界 水 准</p>
    </div>
    <div id="products">
    	<div class="subtitle">
    		<span><b>PRODUCT</b> / 产品</span>
    		<p>包括：{{ classonestr }}等</p>
    		<div id="catalog">
                {% for classone in classonels %}
                <a href="/product">{{ classone.ClassName }}</a>
                <span> | </span>
                {% endfor %}
                {% if oneclassone %}
                <a href="/product">{{ oneclassone.ClassName }}</a>
                {% endif %}
    		</div>
    		<div id="box"></div>
    	</div>
    	<div class="details" id="p_details">
    		<div id="products_top">
                {% for pro in productls %}
    			<div data-class1='{{ pro.classone }}' data-class2='{{ pro.classtwo }}'>
    				<img src="{{ pro.PicPath }}">
    				<div>
    					<p>{{ pro.Title }}</p>
    				</div>
    			</div>
                {% endfor %}
    			<p class="clear"></p>
    		</div>
    	</div>
    </div>
    <div id="intro">
    	<div> </div>
    	<div>
    		<a href="/culture"><img src="{% static "img/index/diamond.png" %}" alt="企业荣誉"></a>
    		<p class="p1">世界名牌</p>
    		<p class="p2">
    			<a href="/culture">从这里了解我们></a>
    		</p>
    	</div>
    	<div>
    		<a href="shop"><img src="{% static "img/index/shop.png" %}" alt="店面展示"></a>
    		<p class="p1">店面展示</p>
    		<p class="p2">
    			<a href="/shop">门店众多，给予您优质服务></a>
    		</p>
    	</div>
    	<div>
    		<a href="/case"><img src="{% static "img/index/video.png" %}" alt="工程案例"></a>
    		<p class="p1">工程案例</p>
    		<p class="p2">
    			<a href="/case">为您提供合适的工程计划></a>
    		</p>
    	</div>
    	<div>
    		<a href="/contact"><img src="{% static "img/index/world.png" %}" alt="销售网络"></a>
    		<p class="p1">销售网络</p>
    		<p class="p2">
                <a href="/contact">我们的销售点遍布全国></a>
            </p>
    	</div>
    	<div> </div>
    	<p class="clear"></p>
    </div>
    <div id="news">
    	<div class="subtitle">
    		<span><b>NEWS</b> / 新闻</span>
    		<p>即时了解本公司的最新情况</p>
    	</div>
    	<div class="details" id="n_details">
    		<div id="news_main">
    			<div>
    				<a class="news_text ntright" href="{{ news1.Url }}">
    					<p class="news_title">{{ news1.Title }}</p>
    					<p class="news_summary">{{ news1.ShortContent }}</p>
    					<div>查看详情></div>
    				</a>
    				<img src="{{ news1.PicPath }}" alt=" ">
    			</div>
    			<div>
    				<img src="{{ news2.PicPath }}" alt=" ">
    				<a class="news_text ntleft" href="{{ news2.Url }}">
    					<p class="news_title">{{ news2.Title }}</p>
    					<p class="news_summary">{{ news2.ShortContent }}</p>
    					<div>查看详情></div>
    				</a>
    			</div>
    		</div>
    		<p class="clear"></p>
    	</div>
    </div>
    <div id="foot_bar">
    	<ul>
    		<li><a href="/culture">关于我们</a></li>
    		<li>&nbsp;|&nbsp;</li>
    		<li><a href="/contact">联系我们</a></li>
    		<li>&nbsp;|&nbsp;</li>
    		<li><a href="/job">人才招聘</a></li>
    	</ul>
    	<p>版权所有 CopyRight(C)2013-2015 东莞市忠胜格力产品销售中心</p>
    </div>
    <script>
        //调整外框适应一级分类宽度
            var w=$("#catalog").width();
            $("#box").width(w+60);
    </script>
</body>
</html>