<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Culture</title>
<meta name="description" content="">
<meta name="keywords" content="">
{% load staticfiles %}
<link href="{% static "css/culture.css" %}" rel="stylesheet">
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script src="{% static "js/culture.js" %}"></script>
</head>
<body>
    <div id="nav">
		<ul id="first_ul">
    		<li>
    			<a href="/">首页</a>
    		<li>
    			<a href="/product">产品中心</a>
    		</li>
    		<li>
    			<a href="/news">新闻中心</a>
    		</li>
     		<li>
    			<a href="/shop">店面展示</a>
     		 </li>
    		<li>
     			<a href="/case">工程案例</a>
    		</li>
    		<li>
    			<a href="/job">人才招聘</a>
    		</li>
    		<li>
				<a href="/culture">企业文化</a>
    		</li>
    		<li>
    			<a href="/contact">联系我们</a>
    		</li>
			<p class="clear"></p>
		</ul>
	</div>
	<div id="subtitle">
		<h1><span>&nbsp;RECRUITMENT</span> / 企业文化</h1>
	</div>
	<div id="c_details">
		<div id="gree_intro">
			<div id="intro2">
				<div>公 司 简 介</div>
				<p>东莞市忠胜格力产品销售中心成立于1992年，是一家集中央空调批发、销售、设计、安装、保养的专业化企业，本公司现有80余人。
				</p>
				<p>我司拥有实力雄厚、专业技术水平较高的售后队伍，全体服务人员都经过厂家严格的专业培训持证上岗。
				</p>
				<p>我司在塘厦、凤岗、樟木头等镇均设有服务网点，售后服务实行计算机一体化专业管理，24小时制售后跟踪服务，我司主要针对服务行业设有专门售后技术人员4小时内上门服务。
				</p>
				<p>我司凭借高水平、高要求、高效益的管理体制，以“用一流的技术、做一流的服务”为宗旨。经过多年的创业与发展，在同行业内已树立起良好的口碑，受到了广大客户的一致好评。
				</p>
				<p>我司在全体员工的共同努力和社会各界友好人士的鼎力支持下，规模和经营范围不断扩大、业务蒸蒸日上。
				</p>
				<p>公司重视人才，以人为本，给员工提供充分发挥才能的平台。本着诚信为本，服务至上，精进卓越，亲和共生的经营理念，给顾客提供优质的服务。
				</p>
			</div>
		</div>
		<div id="gree_spirit">
			<div>格 力 精 神</div>
			<p><span>企业精神</span><span>忠诚、友善、勤奋、进取</span></p>
			<p><span>经营理念</span><span>制造最好的空调奉献给广大消费者</span></p>
			<p><span>管理理念</span><span>创新永无止境</span></p>
			<p><span>管理特色</span><span>合理化、科学化、变准化、网络化</span></p>
			<p><span>服务理念</span><span>您的每一件小事都是格力的大事</span></p>
			<p><span>人力资源理念</span><span>以人为本</span></p>
		</div>
		<div id="leader_speech">
			<div>
				<div>领 导 致 辞</div>
				<p>我公司自建立以来，承蒙各生产厂家和客户朋友鼎立相助，公司规模逐渐壮大，取得了较好的成绩。在此，我谨代表全体同仁发自内心地相各位致以深深的谢意！常言道：十年修得同船渡。相逢是缘，相交更是缘。公司全体员工在这十余年的路途上，本着“与人方便，自己方便”的古训为人做事，时刻与各厂家和用户朋友亲密相处，精诚合作、风雨同舟、甘苦共享。我们深以与你们同行共渡为容！我们更看重和珍惜彼此间的事业和友情。无论何时何地，我们全体员工都会不遗余力地投入到工作之中，竭尽所能为各位朋友提供满意的服务,以达到我们彼此的共赢和多赢。朋友们：闲时请来公司做客忙时电话短信问候。承蒙各生产厂家和客户朋友鼎立相助，公司规模逐渐壮大，取得了较好的成绩。在此，我谨代表全体同仁发自内心地相各位致以深深的谢意！常言道：十年修得同船渡。相逢是缘，相交更是缘。公司全体员工在这十余年的路途上，本着“与人方便，自己方便”的古训为人做事，时刻与各厂家和用户朋友亲密相处，精诚合作、风雨同舟、甘苦共享。我们深以与你们同行共渡为容！我们更看重和珍惜彼此间的事业和友情。无论何时何地，我们全体员工都会不遗余力地投入到工作之中，竭尽所能为各位朋友提供满意的服务,以达到我们彼此的共赢和多赢。朋友们：闲时请来公司做客忙时电话短信问候。</p>
			</div>
		</div>
		<div id="gree_honor">
			<div>企 业 荣 誉</div>
			<div id="pic_box">
				<img src="./img/culture/honor3.jpg">
				<img src="./img/culture/honor7.jpg">
				<img src="./img/culture/honor1.jpg">
				<img src="./img/culture/honor4.jpg">
				<img src="./img/culture/honor6.jpg">
				<img src="./img/culture/honor2.jpg">
			</div>
		</div>
	</div>
    <div id="foot_bar">
    	<ul>
    		<li><a href="/culture">关于我们</a></li>
    		<li>&nbsp;|&nbsp;</li>
    		<li><a href="/contact">联系我们</a></li>
    		<li>&nbsp;|&nbsp;</li>
    		<li><a href="/job">人才招聘</a></li>
    	</ul>
    	<p>版权所有 CopyRight(C)2013-2015 东莞市忠胜格力产品销售中心</p>
    </div>
    <div id="popup">
        <div id="popup_bottom"></div>
        <div id="popup_top">
            <div id="origin_pic">
                <img src="">
            </div>
        </div>
    </div>

	<script type="text/javascript">
	</script>
</body>
</html>